{%extends "base.html"%}

{%block content%}
<form action="data/" method="post">
	{% include 'messages.html'%}
                   {% csrf_token %}
				   <div class="container">
				   <div class="input_wrapper">
					 <input type="text" placeholder="Enter github user name" class="input_user" name="param" required>
					<!-- <div type="submit" class="btn_submit">Search User</div> -->
					<div type="submit" class="btn_submit"><input type="submit" class = "btn_submit" id='hello' value="Search User">Search User</div>
					<style>
						.btn_submit{
							z-index: 1300!important;
						}
						#hello{
							opacity: 0; 
							z-index: 250!important;
							
						}
					</style>
				</div>
				<div class="input_wrapper">
				   <input type="number" placeholder="Enter Months" class="input_user" name="para" required>
				   <!-- <div class="btn_submit" action="data/">Search User</div>  -->
			   </div>
				</div>
<!-- <input type="text" name="param" required><br><br>
<input type="text" name="para" required><br><br> -->
<!-- <table border=".5" cellspacing="25"> -->
	
	<!-- <tr> -->
	<!-- {%for m in data1%}
	 
	 {% if forloop.first %}
	 <th>Serial NO. </th>
        
	  {%for k,v in m.items%}
	     
		<th>      {{k}}     </th>
		
	 
	 
		    {%endfor%}
        {%endif%}
        {%endfor%}
	</tr>
          
	 {%for m in data1 %}
	 <tr>  
		<td> {{forloop.counter}} </td>
			 {%for k,v in m.items%}
	        <td>     {{v}}    </td>
		   {%endfor%}
	  </tr>	
		{%endfor%} 
			 -->
		
	
	<!-- </table> -->
	
<br><br>



	
</div>
<!--  
<h1>GRAPH</h1>
<button action='graph/'> Graph</button>
{%include 'Churn_bar.html'%}
<hr></hr>
<hr>
<h2>Churn Rate Graph</h2>
{%include 'Churn_Rate.html'%} -->


{%endblock%}